{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<meta charset="utf-8" />
<link rel="stylesheet" href="globals.css">
<script src="https://cdn.tailwindcss.com"></script>
<script>
/** @type {import('tailwindcss').Config} */
tailwind.config = {
  
  theme: {
    extend: {
      },
  },
  plugins: [],
}
        </script>
</head>
<body>
<img src="{% static 'img/image-2.png' %}" class="top-[125px] left-0 w-[1440px] h-[899px] aspect-[1.78] absolute object-cover"/>
<div class="absolute top-[259px] left-[109px] w-[1240px] h-[270px] bg-white rounded-[30px] shadow-[0_20px_40px_rgba(0,0,0,0.12)]" >
<div class="absolute top-[42px] left-[52px] [-webkit-text-stroke:1px_#00000069] [font-family:'Marcellus_SC-Regular',Helvetica] font-normal text-black text-xl tracking-[0] leading-[normal]" >Informasi Pribadi</div>
<div class="absolute top-[89px] left-[103px] w-[1004px] h-[123px]" ><div class="absolute top-0 left-0 w-40 [font-family:'Inter-Regular',Helvetica] font-normal text-[#757575] text-[15px] tracking-[0] leading-[normal]" >Nama Lengkap</div>
<div class="absolute top-[26px] left-0 w-40 [font-family:'Inter-Regular',Helvetica] font-normal text-black text-[15px] tracking-[0] leading-[normal]" >Nisrina Alya</div>
<a href="mailto:nisrina.alya@ui.ac.id" target="_blank" rel="noopener noreferrer"><div class="absolute top-[26px] left-[435px] w-40 [font-family:'Inter-Regular',Helvetica] font-normal text-black text-[15px] tracking-[0] leading-[normal]" >nisrina.alya@ui.ac.id</div></a>
<div class="absolute top-[105px] left-0 w-40 [font-family:'Inter-Regular',Helvetica] font-normal text-black text-[15px] tracking-[0] leading-[normal]" >Indonesia</div>
<div class="absolute top-[79px] left-0 [font-family:'Inter-Regular',Helvetica] font-normal text-[#757575] text-[15px] tracking-[0] leading-[normal] whitespace-nowrap" >Kewarganegaraan</div>
<div class="absolute top-0 left-[435px] w-14 [font-family:'Inter-Regular',Helvetica] font-normal text-[#757575] text-[15px] tracking-[0] leading-[normal]" >Email</div>
<div class="absolute top-0 left-[843px] w-[85px] [font-family:'Inter-Regular',Helvetica] font-normal text-[#757575] text-[15px] tracking-[0] leading-[normal]" >Telepon</div>
<div class="absolute top-[75px] left-[435px] [font-family:'Inter-Regular',Helvetica] font-normal text-[#757575] text-[15px] tracking-[0] leading-[normal] whitespace-nowrap" >Tanggal Lahir</div>
<div class="absolute top-[101px] left-[434px] [font-family:'Inter-Regular',Helvetica] font-normal text-black text-[15px] tracking-[0] leading-[normal] whitespace-nowrap" >19-09-2006</div>
<div class="absolute top-[22px] left-[837px] [font-family:'Inter-Regular',Helvetica] font-normal text-black text-[15px] tracking-[0] leading-[normal] whitespace-nowrap" >+62-8137-0998-516</div></div>
<div class="absolute top-[318px] left-0 w-[266px] h-[98px] bg-white rounded-[15px] border border-solid border-[#c5c5c5] shadow-[0px_4px_4px_#00000040]" ></div>
<div class="absolute top-[443px] left-0 w-[266px] h-[98px] bg-white rounded-[15px] border border-solid border-[#c5c5c5] shadow-[0px_4px_4px_#00000040]" ></div>
<div class="absolute top-[482px] left-[81px] [font-family:'Inter-Regular',Helvetica] font-normal text-black text-2xl tracking-[0] leading-[normal]" >3</div>
<div class="absolute top-[333px] left-24 [font-family:'Marcellus_SC-Regular',Helvetica] font-normal text-[#757575] text-xl tracking-[0] leading-[normal]" >ID Staff</div>
<div class="absolute top-[318px] left-[317px] w-[266px] h-[98px] bg-white rounded-[15px] border border-solid border-[#c5c5c5] shadow-[0px_4px_4px_#00000040]" ></div>
<div class="absolute top-[333px] left-[401px] [font-family:'Marcellus_SC-Regular',Helvetica] font-normal text-[#757575] text-xl tracking-[0] leading-[normal]" >Maskapai</div>
<div class="absolute top-[318px] left-[634px] w-[266px] h-[98px] bg-white rounded-[15px] border border-solid border-[#c5c5c5] shadow-[0px_4px_4px_#00000040]" ></div>
<div class="top-[333px] left-[720px] absolute [font-family:'Marcellus_SC-Regular',Helvetica] font-normal text-[#757575] text-xl tracking-[0] leading-[normal]" >Klaim Menunggu</div>
<div class="top-[460px] left-[79px] absolute [font-family:'Marcellus_SC-Regular',Helvetica] font-normal text-[#757575] text-xl tracking-[0] leading-[normal]" >Klaim Ditolak</div>
<div class="absolute top-[318px] left-[952px] w-[266px] h-[98px] bg-white rounded-[15px] border border-solid border-[#c5c5c5] shadow-[0px_4px_4px_#00000040]" ></div>
<div class="top-[332px] left-[1034px] absolute [font-family:'Marcellus_SC-Regular',Helvetica] font-normal text-[#757575] text-xl tracking-[0] leading-[normal]" >Klaim Disetujui</div>
<div class="absolute top-[359px] left-24 [font-family:'Inter-Regular',Helvetica] font-normal text-black text-2xl tracking-[0] leading-[normal]" >MOO01</div>
<div class="absolute top-[359px] left-[401px] [font-family:'Inter-Regular',Helvetica] font-normal text-black text-2xl tracking-[0] leading-[normal]" >Etihad</div>
<div class="left-[720px] absolute top-[359px] [font-family:'Inter-Regular',Helvetica] font-normal text-black text-2xl tracking-[0] leading-[normal]" >15</div>
<div class="left-[1037px] absolute top-[359px] [font-family:'Inter-Regular',Helvetica] font-normal text-black text-2xl tracking-[0] leading-[normal]" >10</div></div>
<img class="top-[607px] left-[454px] w-10 h-10 aspect-[1] absolute object-cover" src="{% static 'img/image-12.png' %}" />
<img class="top-[600px] left-[135px] w-[53px] h-[53px] aspect-[1] absolute object-cover" src="{% static 'img/image-13.png' %}" />
<img class="top-[602px] left-[768px] w-[45px] h-[45px] aspect-[1] absolute object-cover" src="{% static 'img/image-14.png' %}" />
<img class="top-[596px] left-[1083px] w-[60px] h-[60px] aspect-[1] absolute object-cover" src="{% static 'img/image-15.png' %}" />
<img class="top-[727px] left-[135px] w-12 h-12 aspect-[1] absolute object-cover" src="{% static 'img/image-16.png' %}" />
<div class="absolute top-48 left-[125px] [font-family:'Inter-SemiBold',Helvetica] font-semibold text-black text-[32px] tracking-[0] leading-[normal]" >Hello, Nisrina Alya</div></div>
</body>
</html>